html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition-duration: 1s;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: hsl(0, 36%, 70%);
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.mobilelogo {
    display: none;
}

header .logo img {
    width: 159px;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

header .left{
    background: url(../assets/bg-pattern-desktop.svg);
    padding: 66px 221px 0 168px;
    width: 830px;
}

header .content {
    margin-top: 140px;
}

header h1 {
    font-size: 60px;
    line-height: 65px;
    font-weight: 300;
    letter-spacing: 0.5em;
    
}

header p {
    margin-top: 27px;
    margin-bottom: 40px;
    line-height: 25px;
    letter-spacing: 1px;
}

header strong{
    color:hsl(0, 6%, 24%);
}

header .searchbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 54px;
    border: 1px solid hsl(0, 80%, 86%);
    border-radius: 50px;
    
}

header button{
    margin-left: 15px;
    border-radius: inherit;
    height: 100%;
    border-style: none;
    padding: 0 45px 0 45px;
    background: linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    float: right;
    -webkit-box-shadow: 1px 15px 66px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 15px 66px -15px rgba(0,0,0,0.75);
    box-shadow: -1px 15px 66px -15px rgba(0,0,0,0.75);
    outline: none;
}

header button:hover{
    background: hsl(0, 80%, 86%);
}

header .searchbar .error{
    height: 24px;
    margin-top: 12px;
    visibility: hidden;
}

header input{
    background-color: transparent;
    padding-left: 32px;
    border-radius: inherit;
    display: block;
    height: 100%;
    width: 100%;
    border-style: none;
    letter-spacing: 2px;
    outline: none;
}

header input::placeholder{
    color: hsl(0, 80%, 86%);
    letter-spacing: 2px;
}

header input:active{
    border-style: none;
}

header .errormessage{
    letter-spacing: 0em;
    font-size: 12px;
    color: hsl(0, 93%, 68%);
    margin-top: 5px;
    margin-left: 32px;
    visibility: hidden;
}
/* Responsive part */

@media only screen and (max-width: 1130px) and (min-width: 601px) {
    .container {
        width: 100%;
    }

    .mobilelogo {
        display: block;
        margin: 32px;
    }

    .mobilelogo img{
        width: 27%;
    }

    header .left {
        background: cover/100% no-repeat url(../assets/bg-pattern-desktop.svg);
        width: 100%;
        padding: 0px 32px 0px 32px;
    }

    header .content {
        text-align: center;
        margin-top: 66px;
    }

    header h1 {
        font-size: 40px;
        line-height: 45px;
    }

    header p {
        font-size: 12px;
    }

    header .logo {
        display: none;
    }

    header .bg {
        width: 100%;
    }

    header .bg img{
        width: inherit;
    }
    header .searchbar {
        margin: 0 auto;
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .mobilelogo {
        display: block;
        margin: 32px;
    }

    .mobilelogo img{
        width: 27%;
    }

    header .left {
        width: 100%;
        padding: 0px 32px 0px 32px;
    }

    header .content {
        text-align: center;
        margin-top: 66px;
    }

    header h1 {
        font-size: 40px;
        line-height: 45px;
    }

    header p {
        font-size: 12px;
    }

    header .logo {
        display: none;
    }

    header .bg {
        width: 100%;
    }

    header .bg img{
        width: inherit;
    }

    header .searchbar {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1439px) and (min-width: 1130px) {

    .container{
        width: 100%;
        overflow: hidden;
    }

    header .content{
        text-align: center;
    }

    header .left {
        
        padding: 66px 32px 0px 32px;
        width: 60%;
        float: left;
    }

    header .searchbar {
        margin: 0 auto;
        width:  400px;
    }

    .right {
        width: 40%;
        float: right;
    }

    header {
        flex-wrap: nowrap;
    }

    header .right img{
        width: 100%;
        height: 100%;
    }
}